@font-face{
	font-family: TitilliumWeb-Bold;
	src:url(TitilliumWeb-Bold.ttf);
}
@font-face{
	font-family: TitilliumWeb-Regular;
	src:url(TitilliumWeb-Regular.ttf);
}
@font-face{
	font-family: TitilliumWeb-SemiBold;
	src:url(TitilliumWeb-SemiBold.ttf);
}
@font-face{
	font-family: TitilliumWeb-Light;
	src:url(TitilliumWeb-Light.ttf);
}
@font-face{
	font-family: TitilliumWeb-Italic;
	src:url(TitilliumWeb-Italic.ttf);
}
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
div{
  font-family: TitilliumWeb-Bold;
  font-size: 18px;
}
p{
	margin-block-start:0;
	margin-block-end:0;
}
/* reset css */
/*  */
body{
	background: #000;
}
#wrap{
  width: 1440px;
  height: 6160px;
	margin: auto;
	background: #fff;
}
/* */
/* header-section */
#header{
	background: #87509c;
  height: 596px;
}
.container{
  width: 1100px;
	margin: auto;
}
#header-top{
  width: 100%;
  overflow: auto;
}
#logo{
  float: left;
  width: 116px;
  height:  36px;
  margin: 58px 0 58px 42px;
}
.nav-bar{
  font-family: TitilliumWeb-Regular;
  font-size: 16px;
  color: ;
  float: right;
  width: 441px;
}
.nav-bar-item{
  float: left;
  text-transform: uppercase;
	color: #fff;
  margin: 64.5px 0;
}
.home{
  margin-left: -0.66px;
  margin-right: 45px;
}
.home:hover{
	position: relative;
	top: -4px;
	left: -16.672px;
	background: #643a79;
	padding:  4px 16.672px ;
	border-radius: 4px;
	margin-right: 11.656px;
	margin-bottom: -4px;
}
.about{
  padding-right: 0.24px;
  margin-left: 0;
  margin-right: 44px;
}
.work{
  margin-left: -0.7px;
  margin-right: 45px;
}
.blog{
  margin-left: -0.62px;
  margin-right: 45px;
}
.contact{
  margin-left: 0;
  margin-right: 26px;
}
#header-detail{
  font-family: TitilliumWeb-Bold;
  font-size: 42.16px;
  line-height: 48.82px;
	text-align: center;
	color: #fff;
	margin-top: 77px;
}
#header-detail span{
	margin: 0 165px 0 157px ;
	text-align: initial !important;
}
.big-button{
	position: relative;
	width: 293px;
	height: 70px;
}
.btn-head{
margin: 54px auto 145px auto;
}
.btn{
	display: block;
	width: 100%;
	height: 100%;
	font-family: TitilliumWeb-SemiBold;
	font-size: 18px;
	border: 0px;
	border-radius: 4px;
}
.btn-head-color{
	background: #eb7d4b;
	color: #ffffff;
}
.btn-alpha-color{
	position: absolute;
	display: block;
	width: 293px;
	height: 4px;
	bottom: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.btn-head-alpha-color{
	background: #C86A40;
}
/* */
/* services */
#services{
	height: 747px;
	background: #17c2a4;
}
.description-top{
	position: relative;
	height: 241px;
	overflow: hidden;
	text-align: center;
	color: #fff;
}
#services-title{
	margin: 103px 0 27px 0;
	font-size: 40px;
	letter-spacing: 0.1em;
}
.underline{
	position: absolute;
	width: 87px;
	height: 4px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.u-srv{
	background: #14a58c;
	top: 169px;
}
#services-detail{
	margin: 0 249px;
	font-family: TitilliumWeb-Regular;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.02em;
}
.description-main{
	background: grey;
	margin-top: 50px;
	color: #fff;
}
.content{
	width: 260px;
	height: 456px;
	float: left;
	text-align: center;
	padding-right: 20px;
}
.content:last-child{
	padding-right: 0;
}
.content-icon{
	width: 260px;
	height: 191px;
}
.content-name{
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 0.02em;
	margin-top: 19px;
	margin-bottom: 12px;
}
.content-detail{
	font-family: TitilliumWeb-Light;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	margin: 0 32px 125px 32px;
}
/* */
/* team*/
#team{
	background: #e7f1f8;
	height: 914px;
}
#team-title{
	font-size: 41.29px;
	color:  #3c4761;
	letter-spacing: 0.1em;
	margin-top: 101px;
	margin-bottom: 29px;
}
.u-team{
	top: 171px;
	background: #c8d9e5;
}
#team-detail{
	font-family: TitilliumWeb-Regular;
	font-size: 18.58px;
	color: #5d677b;
	letter-spacing: 0.02em;
}
.team-member{
	width: 260px;
	height: 623px;
	margin-right: 20px;
	float: left;
	text-align: center;
}
.team-member:last-child{
	margin-right: 0;
}
.member-icon{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #878787;
	margin:6px auto 30px auto;
}
.member-name{
	font-size: 24px;
	letter-spacing: 0.02em;
	color: #27283d;
	text-transform: uppercase;
}
.member-position{
	font-family: TitilliumWeb-Regular;
	font-size: 16px;
	letter-spacing: 0.02em;
	color: #30bae7;
	margin: 1px 0 18px 0;
}
.member-detail{
	font-family: TitilliumWeb-Light;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #5d677b;
	margin: 0 25px 29px 25px;
}
.member-contact{
	height: 32px;
	letter-spacing: -4px;
	margin-bottom: 127px;
}
.member-contact a {
	display: inline-block;
	line-height: 0;
}
.member-contact-icon{
	padding-right: 12px;
}
.member-contact-icon-last{
	padding-right: 0;
}
/* end-team*/
/* skill*/
#skill{
	height: 655px;
	border-bottom: 2px dashed #dfe8ed;
	background: #fff;
}
.skill-title{
	font-size: 40px;
	letter-spacing: 0.1em;
	color: #3c4761;
	margin: 101px 0 28px 0;
}
.u-skill{
	top: 167px;
	background: #dfe8ed;
}
.skill-detail{
	font-family: TitilliumWeb-Regular;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.02em;
	color: #626a7d;
	margin:0 265px ;
}
.skill-content{
	width: 260px;
	float: left;
	padding-right: 20px;
}
.skill-content:last-child{
	padding-right: 0;
}
.skill-contact-grap{
	height: 215px;
}
.skill-content-detail{
	font-size: 24px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-align: center;
	color: #3c4761;
	margin-bottom: 113px;
}
/* end skill*/
/* portfolio*/
#portfolio{
	height: 1423px;
	background: #ffdd99;
}
.container-out{
	width: 1140px;
	margin: auto;
}
.u-port{
	top: 170px;
	background: #e5c37f;
}
.description-main-port{
	margin-top: 43px;
	letter-spacing: -4px;
	text-align: center;
}
.portfolio-categories{
	display: inline-block;
	width: 84px;
	height: 38px;
	background: #ebc985;
	letter-spacing: 0;
	margin-right: 10px;
	margin-bottom: 62px;
	line-height: 38px;
}
.portfolio-categories:first-child{
	background: #fff;
}
.portfolio-categories:last-child{
	margin-right: 0;
}
#portfolio-work-list{
	overflow: hidden;
}
.portfolio-works{
	float: left;
	width: 541px;
	height: 421px;
	margin-right: 20px;
}
.portfolio-works-first{
	margin-left: 9px;
}
.portfolio-works-last{
	margin-right: 0;
}
.portfolio-works img{
	width: 541px;
	height: 311px;
}
.portfolio-work-detail{
	font-family: TitilliumWeb-Regular;
	font-size: 18px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	height: 27px;
	margin: 18px 0 58px 0;
}
.btn-port{
	margin: 18px auto 109px auto;
}
.btn-port-color{
	background: #17c2a4;
}
.btn-port-alpha-color{
	background: #14a58c;
}
/* end portfolio*/
/* about*/
#testimonial{
	height: 892px;
	background: #d74680;
}
.test-title{
	color: #fff ;
}
.u-test{
	top: 167px;
	background: #b73c6d;
}
.test-detal{
	color: #faecf1;
}
.description-main-test{
	overflow: hidden;
	margin-bottom: 25px;
}
.testimonial-member{
	width: 500px;
	height: 313px;
	float: left;
}
.testimonial-member-first{
	padding-right: 88px;
}
.testimonial-member-last{
	padding-right: 12px;
}
.testimonial-member-icon{
	width: 96px;
	height: 96px;
	border-radius: 50%;
	margin: 39px 47px 178px 1px;
	background: #787878;
	float: left;
}
.testimonial-member-detail{
	font-family: TitilliumWeb-Italic;
	font-size: 21px;
	line-height: 31.2px;
	letter-spacing: 0.02em;
	color: #faecf1;
}
.testimonial-member-name{
	font-size: 24px;
	letter-spacing: 0.02em;
	color: #fff;
}
.testimonial-member-position{
	font-family: TitilliumWeb-Regular;
	font-size: 18px;
	letter-spacing: 0.02em;
	color: #ffdd99;
}
/* end about*/
/* contact*/
#contact{
	height: 818px;
	background: #3c5499;
	border-bottom: 1px dashed #344b8e;
}
.contact-title{
	color: #fff;
}
.contact-detail{
	color: #fff;
}
.u-contact{
	top: 170px;
	background: #273a71;
}
.description-main-contact{
	padding: 0 120px;;
}
#form{
	margin-top: 51px;
}
.form-left{
	margin-right: 28px;
}
.form-info{
	width: 414px;
	height: 56px;
	font-family: TitilliumWeb-Regular;
	font-size: 18px;
	border: 0px;
	border-radius: 4px;
	background: #273a71;
}
.first{
	margin-right: 32px;
}
.wrap-label{
	position: relative;
	display: inline-block;
}
.first{
	position: absolute;
	top:15px;
	left: 25px;
}
.first::after{
	content: " *";
	color: #ff4444;
}
.second{
	position: absolute;
	top:15px;
	left: 25px;
}
.second::after{
	content: " *";
	color: #ff4444;
}
.name{
	position: relative;
}
.name:focus + label{
	display: none;
}
.email{
	position: relative;
}
.email:focus + label{
	display: none;
}
.warp-textarea{
	position: relative;
}
textarea{
	width: 860px;
	height: 200px;
	background: #273a71;
	border: 0px;
	border-radius: 4px;
	margin: 27px 0 51px 0;
}
.third{
	position: absolute;
	left:25px;
	top:42px;
}
.third::after{
	content: " *";
	color: #ff4444;
}
.textarea:focus + label{
	display: none;
}
.btn-contact{
	margin: 0 auto 114px auto;
}
.btn-contact-color{
	font-family: TitilliumWeb-SemiBold;
	font-size: 18px;
	letter-spacing: 0.02em;
	color: #fff;
	background: #30bae7;
}
.btn-contact-alpha-color{
	background: #299ec5;
}
/* end contact*/
/* footer*/
#footer{
	height: 112px;
	background: #344b8e;
}
#footer-detail{
	text-align: center;
	line-height: 112px;
	font-family: TitilliumWeb-SemiBold;
	font-size: 24px;
	letter-spacing: 0.02em;
}
#footer-detail > p > span{
	color: #30bae7;
}
/* end footer*/
