@font-face{
	font-family: TitilliumWeb-Bold;
	src:url(TitilliumWeb-Bold.ttf);
}
@font-face{
	font-family: TitilliumWeb-Regular;
	src:url(TitilliumWeb-Regular.ttf);
}
@font-face{
	font-family: TitilliumWeb-SemiBold;
	src:url(TitilliumWeb-SemiBold.ttf);
}
@font-face{
	font-family: TitilliumWeb-Light;
	src:url(TitilliumWeb-Light.ttf);
}
@font-face{
	font-family: TitilliumWeb-Italic;
	src:url(TitilliumWeb-Italic.ttf);
}
*{
  margin: 0;
  padding: 0;
}
:root{
	font-size: 62.5%;
}
a{
  text-decoration: none;
	color: #000;
}
li{
  list-style: none;
}
p{
	margin-block-start:0;
	margin-block-end:0;
}
/* reset css */
/*  */
body{
	font-size: 1.6rem;
}
/* */


/* */
.wrap{

}
/* */
/* header-section */
.header{
	background: #87509c;
  /* height: 596px; */
}
.container{
	margin: auto;
}
.header-top{
	font-family: TitilliumWeb-Regular;
	font-size: 1.6rem;
	line-height: 1.8rem;
  padding-top: 58px;
	padding-bottom: 54px;;
	overflow: hidden;
}
.logo{
  float: left;
  margin-left: 4.2rem;
}
.nav-bar{
  float: right;
}
.nav-bar-list{
	margin: 6px 8px 5px 0;
}
.nav-bar-item{
  float: left;
	color: #fff;
  text-transform: uppercase;
	padding: 4px 17px;
	margin-left: 10.56px;
}
.nav-bar-list a:first-child li{
	margin-left: 0;
}
.nav-bar-item:hover{
	background: #643a79;
	border-radius: 4px;
}
.header-detail{
	padding: 7.6rem 0;
}
.header-detail-title{
  font-family: TitilliumWeb-Bold;
  font-size: 4.216rem;
  line-height: 4.882rem;
	text-align: center;
	color: #fff;
}
.header-detail-title span{
	display: block;
}
.big-button{
	position: relative;
	width: 29.3rem;
	height: 7rem;
}
.btn-head{
	margin: 5.9rem auto 6.7rem auto;
}
.btn{
	display: block;
	width: 100%;
	height: 100%;
	font-family: TitilliumWeb-SemiBold;
	font-size: 1.8rem;
	border: 0;
	border-radius: 0.4rem;
	color: #fff;
	cursor: pointer;
}
.btn-head-color{
	background: #eb7d4b;
}
.btn-shadow{
	position: absolute;
	display: block;
	width: 29.3rem;
	height: 0.4rem;
	bottom: 0;
	border-bottom-left-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
}
.btn-shadow-head-color{
	background: #C86A40;
}
/* end header section*/
/* services */
.services{
	/* height: 747px; */
	background: #17c2a4;
}
.description-top{
	position: relative;
	text-align: center;
	padding-top: 11.9rem;
	padding-bottom: 4rem;
}
.white-text{
	color: #fff;
}
.section-title{
	font-family: TitilliumWeb-Bold;
	font-size: 4rem;
	line-height: 2.991rem;
	letter-spacing: 0.1em;
}
.underline{
	position: absolute;
	width: 8.7rem;
	height: 0.4rem;
	margin: 0 auto;
	left: 0;
	right: 0;
	border: 0;
}
.u-srv{
	background: #14a58c;
	top: 16.9rem;
}
.section-detail{
	font-family: TitilliumWeb-Regular;
	font-size: 1.8rem;
	line-height: 2.6rem;
	letter-spacing: 0.02em;

}
.service-detail{
	margin-top: 4.4rem;
	margin-bottom: 3.5rem;
}
.section-detail span{
	display: block;
}
.description-main{
	overflow: hidden;
}
.grid{
	overflow: auto;
	padding-bottom: 2.5rem;
}
.content{
	width: 260px;
	float: left;
	text-align: center;
	margin-right: 20px;
}
.service-content{
	height: 35rem;
	overflow: hidden;
	margin-bottom: 5.3rem;
}
.content:last-child{
	margin-right: 0;
}
.service-content-icon{
	height: 150px;
}
.content-icon{
	max-width: 100%;
	max-height: 100%;
	height: auto;
}
.content-title{
	font-family: TitilliumWeb-Bold;
	text-transform: uppercase;
	font-size: 2.4rem;
	line-height: 1.8rem;
	letter-spacing: 0.02em;
}
.service-content-title{
	margin-top: 4rem;
	margin-bottom: 2.3rem;
}
.content-detail{
	font-family: TitilliumWeb-Light;
	font-size: 1.6rem;
	line-height: 2.4rem;
	letter-spacing: 0.02em;
}
.service-content-detail{
	margin: 0 3.2rem;
}
/* */
/* team*/
.team{
	background: #e7f1f8;
	/* height: 914px; */
}
.team-title{
	font-size: 4.129rem;
	line-height: 3.087rem;
	color:  #3c4761;
}
.u-team{
	top: 17.1rem;
	background: #c8d9e5;
}
.team-detail{
	font-size: 1.858rem;
	line-height: 2.684rem;
	color: #5d677b;
	margin-top: 4.7rem;
	margin-bottom: 7.6rem;
}
.team-content{
	/* height: 50rem; */
	overflow: auto;
	margin-bottom: 5.1rem;
}
.circle{
	border-radius: 50%;
}
.team-content-title{
	text-transform: uppercase;
	color: #27283d;
	margin-top: 4.1rem;
	margin-bottom: 1.3rem;
}
.content-position{
	font-family: TitilliumWeb-Regular;
	font-size: 1.6rem;
	line-height: 1.8rem;
	letter-spacing: 0.02em;
}
.team-content-position{
	color: #30bae7;
}
.team-content-detail{
	color: #5d677b;
	margin: 2rem 2.5rem 2.9rem 2.5rem;
}
.member-contact{
	letter-spacing: -0.4rem;
}
.member-contact a {
	display: inline-block;
	line-height: 0;
}
.member-contact-icon{
	padding-right: 1.2rem;
}
.member-contact-icon-last{
	padding-right: 0;
}
/* end-team*/
/* skill*/
.skill{
	background: #fff;
}
.skill-title{
	color: #3c4761;
}
.u-skill{
	top: 16.7rem;
	background: #dfe8ed;
}
.skill-detail{
	color: #626a7d;
	margin-top:4.4rem;
	margin-bottom: 4.2rem;
}
.skill-content{
	height: 25rem;
	overflow: auto;
	margin-bottom: 5.4rem;
}

.skill-content-title{
	text-transform: uppercase;
	color: #3c4761;
	margin-top: 3.2rem;
}
/* end skill*/
/* portfolio*/
.portfolio{
	/* height: 1423px; */
	background: #ffdd99;
}
.portfolio-title{
	color: #393939;
}
.u-port{
	top: 17rem;
	background: #e5c37f;
}
.portfolio-detail{
	color: #393939;
	margin-top: 4.5rem;
}
.portfolio-menu{
	letter-spacing: -0.4rem;
	text-align: center;
	margin-bottom: 2.4rem;
}
.portfolio-categories{
	font-family: TitilliumWeb-Regular;
	font-size: 1.8rem;
	line-height: 1.95rem;
	letter-spacing: 0.02em;
	width: 8.4rem;
	padding: 1rem 0;
	display: inline-block;
	margin-right: 1rem;
	background: #ebc985;
	color: #393939;
}
.portfolio-categories:hover{
	background: #fff;
}
.portfolio-categories:last-child{
	margin-right: 0;
}
.portfolio-works{
	overflow: auto;
	float: left;
	width: 541px;
	/* height: 360px; */
	margin-top: 3.8rem;
	margin-right: 18px;
	margin-bottom: 2rem;
}
.portfolio-works-last{
	margin-right: 0;
}
.content-figure{
	font-family: TitilliumWeb-Regular;
	font-size: 18px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-align: center;
}
.portfolio-content-figure{
	margin-top: 1.8rem;
	color: #393939;
}
.btn-port{
	margin: 3.2rem auto 11.2rem auto;
}
.btn-port-color{
	background: #17c2a4;
}
.btn-shadow-port-color{
	background: #14a58c;
}
/* end portfolio*/
/* about*/
.testimonial{
	/* height: 892px; */
	background: #d74680;
}
.test-title{
	color: #fff ;
}
.u-test{
	top: 16.7rem;
	background: #b73c6d;
}
.test-detail{
	margin-top: 5rem;
	margin-bottom: 2.7rem;
	color: #fff;
}
.testimonial-content{
	width: 500px;
	/* height: 270px; */
	float: left;
	/* overflow: auto; */
	margin-bottom: 2.45rem;
}
.testimonial-content-first{
	margin-right: 88px;
}
.testimonial-content-last{
	padding-right: 12px;
}
.testimonial-icon{
	width: 96px;
	height: 96px;
	float: left;
}
.testimonial-member{
	margin-left: 14.4rem;
}
.testimonial-detail{
	font-family: TitilliumWeb-Italic;
	font-size: 2.1rem;
	line-height: 3.12rem;
	letter-spacing: 0.02em;
	color: #faecf1;
}
.testimonial-name{
	margin-top: 2.7rem;
	margin-bottom: 0.5rem;
	color: #fff;
}
.testimonial-position{
	color: #ffdd99;
}
/* end about*/
/* contact*/
.contact{
	/* height: 818px; */
	background: #3c5499;
	border-bottom: 1px dashed #344b8e;
}
.contact-title{
	color: #fff;

}
.contact-detail{
	color: #fff;
	margin-top: 4.6rem;
	margin-bottom: 2.6rem;
}
.u-contact{
	top: 17rem;
	background: #273a71;
}
.submit{
	padding: 0 120px;
}
.form{
	letter-spacing: -0.4rem;
}
.form-info{
	width: 414px;
	height: 56px;
	font-family: TitilliumWeb-Regular;
	font-size: 1.8rem;
	border: 0;
	border-radius: 4px;
	background: #273a71;
}
.first{
	margin-right: 32px;
}
textarea{
	font-family: TitilliumWeb-Regular;
	font-size: 1.8rem;
	width: 860px;
	height: 200px;
	background: #273a71;
	border: 0px;
	border-radius: 4px;
	margin: 27px 0 51px 0;
}
::placeholder{
	color: #fff;
	padding:25px;
}
.btn-contact{
	margin: 0 auto 114px auto;
}
.btn-contact-color{
	font-family: TitilliumWeb-SemiBold;
	font-size: 18px;
	letter-spacing: 0.02em;
	color: #fff;
	background: #30bae7;
}
.btn-shadow-contact-color{
	background: #299ec5;
}
/* end contact*/
/* footer*/
.footer{
	/* height: 112px; */
	background: #344b8e;
}
.footer-detail{

}
.link-list{
	overflow: hidden;
	text-align: center;
	font-family: TitilliumWeb-SemiBold;
	font-size: 2.4rem;
	line-height: 2.991rem;
}
.link{
	display: inline-block;
	margin: 41.5px 55px 41.5px 0;
}
.link-list li:last-child{
	padding-right: 0;
}
.link a:hover{
	color: #30bae7;
}
/* end footer*/
@media(min-width:1200px){
	.container{
		width: 1100px;
	}
}
@media(min-width:992px) and (max-width:1200px){
	.container{
		width: 100%;
	}
	.content-media{
		margin-right: 6rem;
	}
	.content-media-full{
		width: 100%;
		text-align: center;
		margin-right: 0;
	}
}
@media(min-width:768px) and (max-width:992px){
	.container{
		width: 100%;
	}
	.content-media{
		margin-right: 20rem;
	}
	.content-media-full{
		width: 100%;
		text-align: center;
		margin-right: 0;
	}
	.content-media-last{
		margin-right: 0;
	}
}
@media(min-width:500px) and (max-width:768px){
	.container{
		width: 100%;
	}
	.content{
		float: none;
		margin: auto;
	}
	.content:last-child{
		margin:auto;
	}
	.content-media-full{
		width: 100%;
		text-align: center;
		margin-right: 0;
	}
	.submit{
		padding: 0;
	}
}
@media(max-width:500px){
	.container{
		width: 100%;
	}
	.content{
		float: none;
		margin: auto;
	}
	.content:last-child{
		margin:auto;
	}
	.content-media-full{
		width: 100%;
		text-align: center;
		margin-right: 0;
	}
	.submit{
		padding: 0;
	}
}
